# Project Files
*.sqlite
*.tmp

config-test*.json

# Dependencies
node_modules/
package-lock.json
yarn.lock

# IDEs
.idea/
.vs/
/squad-server/plugins/db-log-addOn.js
/squad-server/plugins/mapvote.js

config.json
config.*.json
!config.example.json